:root {
    font-size: 62.5%;
}

/* Dark and Light mode */

html {
    --background-color: rgb(0,0,0);
    --primary-color: rgb(255,255,255);
    --secondary-color: rgb(200,200,200);
    --tertiary-color: rgb(100,100,100);

    --button-hover-bg-color: rgb(15,15,15);
    --button-active-bg-color: rgb(25,25,25);

    --bit-value-bg-color:rgb(255, 208, 0);
    --bit-value-text-color: rgb(0, 0, 0);

    --total-value-text-color: var(--bit-value-bg-color);

    --bulb-on-img: url(img/darkmode_bulb_on.png);
    --bulb-off-img: url(img/darkmode_bulb_off.png);
}

html.lightmode {
    --background-color: rgb(255, 255, 255);
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(55, 55, 55);
    --tertiary-color: rgb(155, 155, 155);

    --button-hover-bg-color: rgb(240, 240, 240);
    --button-active-bg-color: rgb(230, 230, 230);

    --total-value-text-color: var(--primary-color);

    --bulb-on-img: url(img/lightmode_bulb_on.png);
    --bulb-off-img: url(img/lightmode_bulb_off.png);
}


/* General */

.hide {
    visibility: hidden;
}


/* Positioning */
.d-flex-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Cursor */
button,
.click {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 7vh;
}

.big-btn {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    background-color: transparent;
    font-size: 2rem;
    text-align: center;
    color: var(--primary-color);
}

.big-btn:hover,
.bit-value:hover {
    background-color: var(--button-hover-bg-color);
}


.big-btn:active {
    scale: 0.95;
    background-color: var(--button-active-bg-color);
}


body {
    flex-direction: column;
    margin: 0px 100px;
    height: 100vh;
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    margin: 40px 0px 120px 0px;
    width: 100%;
}


.byte-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.bit-container {
    flex-direction: column;
    width: 10%;
    height: 100%;
}

.bit-value {
    border: 2px solid var(--tertiary-color);
    border-radius: 100px;
    width: 100px;
    height: 100px;
    font-size: 4rem;
    color: var(--secondary-color);
}


.bit-value.on {
    border: 2px solid var(--primary-color);
    background-color: var(--bit-value-bg-color);
    color: var(--bit-value-text-color);
}


.bit {
    width: 100%;
    height: 100%;
}

.bit.bulb {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: var(--bulb-off-img);

}

.bit.bulb.on {
    background-image: var(--bulb-on-img);
}

.bit.digit {
    font-size: 15rem;
}
.bit.digit.on:before {
    content: "1";
}

.bit.digit:before {
    content: "0";
}

.settings-container {
    padding-top: 40px;
    gap: 2vw;
}



#bit-count {
    margin: 0px 20px;
    background-color: transparent;
    font-size: 2rem;
    text-align: center;
    color: var(--primary-color);
}

.bit-count-btn {
    border: 2px solid transparent;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    font-size: 3rem;
    font-weight: bold;
    color: var(--background-color);
}

.bit-count-btn:hover {
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
}

.bit-count-btn:active {
    scale: 0.95;
}


#total-container {
    flex-direction: column;
    row-gap: 10px;
}

#total-calculation {
    height: 3rem;
    font-size: 3rem;
    color: var(--primary-color);
}
#total-value {
    height: 5rem;
    font-size: 5rem;
    color: var(--total-value-text-color);
}


